.header {
	display: flex;
	flex-direction: row;
	background: #070a55;
	color: white;
	.box{
		width: 60%;
		&:first-child,&:last-child{
			width: 20%;
		}
		&:first-child{
			padding: 10px;
			box-sizing: border-box;
			img{
				max-height: 100%;
			}
		}
		&:last-child{
			padding-right: 10px;
			text-align: right;
			box-sizing: border-box;
			font-size:14px;
		}
		.time{
			span{
				padding-left: 10px;
			}
		}
		.weather{
			position: relative;
			i{
				position: absolute;
				width: 40px;
				height: 40px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 38px 38px;
				display: inline-block;
				top: 10px;
				&.bingbao{
					background-image: url('../../assets/weather/icon/bingbao.png');
				}
				&.lei{
					background-image: url('../../assets/weather/icon/lei.png');
				}
				&.qing{
					background-image: url('../../assets/weather/icon/qing.png');
				}
				&.shachen{
					background-image: url('../../assets/weather/icon/shachen.png');
				}
				&.wu{
					background-image: url('../../assets/weather/icon/wu.png');
				}
				&.xue{
					background-image: url('../../assets/weather/icon/xue.png');
				}
				&.yin{
					background-image: url('../../assets/weather/icon/yin.png');
				}
				&.yu{
					background-image: url('../../assets/weather/icon/yu.png');
				}
				&.yun{
					background-image: url('../../assets/weather/icon/yun.png');
				}
			}
			span{
				padding-left: 44px;
			}
		}
	}
	.title {
		background-image: url('../../assets/main/title_bg.png');
		width: 100%;
		text-align: center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		font-size: 34px;
		font-weight: bold;
	}
}
